@model Case.Web.Portal.Models.CreateCase

@{
    ViewData["Title"] = "Create";
}

<p></p>

<div class="cta container">

<section id="customercare" class="team">
      <div class="container" data-aos="fade-up">


           <div class="section-header">
          <h2>Create Case</h2>
          <p>View all customers here using the table below. </p>
        </div>
<div class=" contact">
    <div class="case-form col-lg-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="CustomerId" value="@ViewData["CustomerId"]" />
                <label asp-for="Description" class="control-label"></label>
                <textarea col="30" row="50" asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="CustomerEmail" class="control-label"></label>
                <input asp-for="CustomerEmail" class="form-control" />
                <span asp-validation-for="CustomerEmail" class="text-danger"></span>
            </div>*@
              <div class="form-group">
                <label asp-for="CaseTypeId" class="control-label"></label>
                <select asp-for="CaseTypeId" class ="form-control" asp-items="ViewBag.CMcaseType"></select>
            </div>
           
           @*
            <div class="form-group">
            	<input type="text" id="txtCustomer" name="CustomerName"/>
                <input type="hidden" id="hfCustomer" name="CustomerId"/>
            </div>*@
            <div class="form-group">
                <button type="submit" value="Create" class="" >Create</button>
            </div>

        </form>
     </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
</div>
</section>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
